@media only screen and ( max-width : 360px ) and ( max-height : 640px ) {

  .footer-menu {
    align-items: center;
    background-color: #2F4858;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 2px;
    position: fixed;
    width: 100%;
  }
}
