@media screen and ( max-width : 360px ) and ( max-height : 640px ) {

  .header-home-page {
    align-items : center;
    background-color: rgb(255, 55, 55);
    display: flex;
    justify-content: space-between;
    padding: 0 7px;
    width: 100%;
  }
}
